.App {
  text-align: center;
  height: 100vh;
  
}
.app-title {
  text-transform: uppercase;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.navbar-appname-dive {
  margin-right: 60px;
}
.MuiTypography-button {
  text-decoration: none !important;
}
.MuiTypography-h6 {
  font-size: 1.7em !important;
}
.navbar-container {
  background-image: linear-gradient(120deg, #e5f9b9 0%, #c3f7ca 100%);
  height: 68px;
}
.content-page-container {
  background-image: linear-gradient(120deg, #e5f9b9 0%, #c3f7ca 100%);
  height: 100vh;
}
.nav-detect-btn {
  color: #000 !important;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.divline {
  
  font-style: italic;
  font-variant:normal; 
  text-decoration-color: black;
  text-decoration:solid;
  margin-left: 10ch;
  margin-right: 10ch;
}

.divbox {
  font-variant: normal;
}
.view-treatment-btn {
  cursor: pointer;
  font-size: 0.7em;
}
p {
  text-align: justify;
}
.page-main-title {
  text-transform: uppercase;
}
